.artist_element {
	margin: auto;
	height: 120px;
	width: 1200px;
	padding: 12px;
	float: none;
	border-style: solid;
	border-width: 1px;
}

.artist_photo {
	height: 120px;
	width: 90px;
	float: left;
	border-style: solid;
	border-width: 1px;
	background-image: url('../artists_images/sagoma.jpg');
}

.artist_info {
	height: 120px;
	width: 410px;
	float: left;
	#margin-left: 20px;
}


.artist_links {
	height: 120px;
	width: 110px;
	float: left;
	#margin-left: 20px;
}

.artist_short_description {
	height: 120px;
	width: 380px;
	float: left;
	#margin-left: 20px;
}
.artist_system {
	height: 120px;
	width: 120px;
	float: left;
	#margin-left: 20px;
	#border-style: solid;
	#border-width: 1px;
}
.separator_void {
	height: 120px;
	width: 20px;
	float: left;
}
.separator_line {
	height: 120px;
	width: 20px;
	float: left;
	background-image: url('../artists_images/sep_line_H.png');
}

.artist_info_line {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	height: 21px;
	margin-top: 6px;
}
.artist_link {
	font-weight: bold;
	height: 21px;
	text-align: center;
	vertical-align: middle;
}
.artist_link a {
	text-decoration: none;
}
.artist_title {
	font-weight: bold;
}
.artist_description {
	margin-top: 10px;
}
.artist_update_button {
	margin: auto;
	text-align: center;
	#height: 30px;
	width: 110px;
	border-style: solid;
	border-width: 1px;
	padding: 6px;
}
.artist_update_button a {
	font-weight: bold;
	text-decoration: none;
}
