body {
	text-align: left;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	font-family:"Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
}

#content {
	#margin : 0 10px 10px 10px;
	#padding: 0 10px;
	#overflow: hidden;
	margin: auto;
	width: 1200px;
	float: none;
}

.artist_element {
	margin: auto;
	height: 120px;
	width: 1200px;
	padding: 12px;
	float: none;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
}

.artist_table {
	margin: auto;
	width: 1200px;
	float: none;
}
.artist_photo {
	height: 120px;
	width: 90px;
	float: left;
	border-style: solid;
	border-width: 1px;
	background-image: url('../artists_images/sagoma.jpg');
}

.artist_info {
	height: 120px;
	width: 410px;
	float: left;
	#margin-left: 20px;
}


.artist_links {
	height: 120px;
	width: 110px;
	float: left;
	#margin-left: 20px;
}

.artist_short_description {
	height: 120px;
	width: 380px;
	float: left;
	#margin-left: 20px;
}
.artist_system {
	height: 120px;
	width: 120px;
	float: left;
	#margin-left: 20px;
	#border-style: solid;
	#border-width: 1px;
}
.separator_void {
	height: 120px;
	width: 20px;
	float: left;
}
.separator_line {
	height: 120px;
	width: 20px;
	float: left;
	background-image: url('../artists_images/sep_line_H.png');
}

.artist_info_line {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	#height: 21px;
	margin-top: 6px;
}
.artist_link {
	font-weight: bold;
	height: 21px;
	text-align: center;
	vertical-align: middle;
}
.artist_link a {
	text-decoration: none;
}
.artist_title {
	font-weight: bold;
}
.artist_description {
	margin-top: 10px;
}
.artist_update_button {
	margin: auto;
	text-align: center;
	width: 110px;
	border-style: solid;
	border-width: 1px;
	padding: 6px;
}
.artist_update_button a {
	font-weight: bold;
	text-decoration: none;
}
.artist_last_update {
    text-align: center;
}

/* for add form */

.add_new_artist {
	border-style: solid;
	border-width: 1px;
	height: 600px;
	width: 610px;
	padding: 16px;
	font-size: 14px;
	margin: auto;
}
.add_new_artist h3 {
	margin-left: 60px;
}
.add_new_artist textarea {
    width: 500px;
    height:100px;
}
.add_new_artist td {
	height: 20px;
	width: 610px;

}
.add_new_artist th {
	#border-style: solid;
	#border-width: 1px;
	height: 20px;
	width: 95px;
	text-align: right;
	float: left;
	padding: 0 5 ;
}

.add_row_half {
	height: 20px;
	width: 302px;
	float: left;
}
.add_input {
	float: left;
	height: 20px;
	width: 500px;
	text-align: left;
	padding: 0 5 ;
}
.add_input_half {
	float: left;
	height: 20px;
	width: 193px;
	text-align: left;
	padding: 0 5 ;
}
.add_new_artist input {
	width: 100%;
	border: 1px solid;
	height: 20px;
}

.add_multirow {
	width: 610px;
	
}

.add_multirow_half {
	width: 305px;

	float: left;
}

.rating_bar {
  width: 55px;
  margin: auto;
  background: url('../artists_images/star_x_grey.gif') 0 0 repeat-x;
}

.rating_bar div {
  height: 12px;
  background: url('../artists_images/star_x_orange.gif') 0 0 repeat-x;
}





